@media  (max-width: 768px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style0 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
display: flex;
margin-left: 89px;
margin-top: 248px;
width: 198px;
height: 172px;
flex-direction: column;}
.style1 {
color: #707070;
font-family: 'Roboto',serif;
font-size: 6.1875em;
margin-left: 131px;
margin-top: 22px;
height: 0px;}
}@media  (min-width: 768px)  and  (max-width: 920px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style0 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
display: flex;
margin-left: 182px;
margin-top: 508px;
width: 406px;
height: 352px;
flex-direction: column;}
.style1 {
color: #707070;
font-family: 'Roboto',serif;
font-size: 12.672em;
margin-left: 268px;
margin-top: 45px;
height: 0px;}
}@media  (min-width: 920px)  and  (max-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style0 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
display: flex;
margin-left: 218px;
margin-top: 608px;
width: 486px;
height: 422px;
flex-direction: column;}
.style1 {
color: #707070;
font-family: 'Roboto',serif;
font-size: 15.18em;
margin-left: 321px;
margin-top: 54px;
height: 0px;}
}@media  (min-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style0 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
display: flex;
margin-left: 285px;
margin-top: 794px;
width: 634px;
height: 550px;
flex-direction: column;}
.style1 {
color: #707070;
font-family: 'Roboto',serif;
font-size: 19.8em;
margin-left: 419px;
margin-top: 70px;
height: 0px;}
}